services:
  frontend:
    build: .
    image: 
    container_name: complaint-landing
    ports:
      - "9260:80"
    environment:
      - REACT_APP_API_URL=http://localhost:9260
      - REACT_APP_DEFAULT_LANGUAGE=en
      - REACT_APP_BASE_URL=http://test.mesobcenter.et/digit-ui/citizen/login
    networks:
      - complaint-network
    restart: unless-stopped

networks:
  complaint-network:
    driver: bridge